* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.root-container {
  position: relative;
  display: inline-block;
}
/**
Health & Timer GUI  
*/
.health-gui {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.player-health {
  background-color: yellow;
  width: 100%;
  height: 30px;
}

.timer {
  background-color: red;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.full-player-bar {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.player-health {
  background-color: yellow;
  height: 30px;
}

.player-static-health {
  position: absolute;
  background: blue;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.full-enemy-bar {
  position: relative;
  width: 100%;
  height: 30px;
}

.enemy-health {
  background-color: yellow;
  height: 30px;
}

.enemy-static-health {
  position: absolute;
  background: blue;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
